
.sectionContainer {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    .divBox {
        display: flex;
        justify-content: space-between;
        padding-block: 2rem;

        h1 {
            font-size: 2rem;
            font-weight: 600;
        }

        button {
            color: var(--color-yellow);

        }
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;   
        justify-content: space-between; 
        padding-top: 2rem;
        padding-bottom: 5.3rem;
        gap: 2rem;
        .divInput {
            display: flex;
            flex-direction: column;
            gap: 16px;
            .divEmail, .divSenha {
                display: flex;
                gap: 1rem;
                width: 100%;
            }
        }
        .divBtn {
            width: 100%;
            display: flex;
            justify-content: end;
        }
    }
}

@media (max-width: 600px) {
    .sectionContainer {
        padding-inline: 1rem;
        form {
            padding-inline: 1rem;

        }
    }
    .divEmail, .divSenha {
        flex-wrap: wrap;
    }
}